<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>X4 Diagrams</title>
  <link
      rel="stylesheet"
      href="https://unpkg.com/papercss@1.9.2/dist/paper.min.css"/>
  <style>
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-auto-rows: 1fr;
      grid-gap: 1em;
    }

    .card {
      text-align: center;
    }

    .card img {
      aspect-ratio: 2 / 1;
      object-fit: cover;
    }

    .card h4 {
      height: 2em;
    }
  </style>
</head>
<body>
  <article class="paper container container-lg margin-top-large margin-bottom-large">
    <section>
      <h1 class="margin-top-none">X4 Diagrams</h1>
      <p>
        Created by
        <a href="https://borntyping.co.uk">@borntyping</a>. Source code at
        <a href="https://github.com/borntyping/x4-diagrams">github.com/borntyping/x4-diagrams</a>.
      </p>
      <p>
        This project is entirely unaffiliated with Egosoft. Go buy
        <a href="https://store.steampowered.com/app/392160/X4_Foundations/">X4: Foundations</a>.
      </p>
      <p>
        Created with
        <a href="https://graphviz.org/">GraphViz</a>,
        <a href="https://plotly.com/graphing-libraries/">Plotly Graphing Libraries</a>,
        <a href="https://www.getpapercss.com/">PaperCSS</a>,
        <a href="https://jinja.palletsprojects.com/en/3.1.x/">Jinja</a>,
        and
        <a href="https://www.structlog.org/en/stable/">structlog</a>.
      </p>
    </section>

    <section>
      <h2 id="Production">Production</h2>

      <ol>
        {% for group, group_diagrams in groups.items() %}
          <li>
            <a href="#{{ group }}">{{ group }}</a>
          </li>
        {% endfor %}
      </ol>

      {% for group, diagrams in groups.items() %}
        <h3 id="{{ group }}">{{ group }}</h3>
        <div class="cards">
          {% for diagram in diagrams %}
            <div id="{{ diagram.title }}" class="card">
              <img src="{{ diagram.image }}" alt="{{ diagram.image }}">
              <div class="card-body">
                <h4 class="card-title">{{ diagram.title }}</h4>
                <h5 class="card-subtitle">{{ diagram.subtitle }}</h5>
                <p class="child-borders margin-bottom-none">
                  {% for text, path in diagram.links.items() %}
                    <a
                        href="{{ path }}"
                        class="paper-btn btn-small">{{ text }}</a>
                  {% endfor %}
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </section>
  </article>
</body>
</html>
